html, body {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}
#gapps {
    height: 26px;
    width: auto;
    border-radius: 60px;
}

#container {
    font-family: sans-serif;
    font-size: smaller;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr minmax(0, auto) auto auto;
    grid-template-areas: "nav "
                         "main "
                         "empty"
                         "nation"
                         "footer";
}

nav {
    grid-area: nav;
}

#nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-button {
    display:inline-block;
    margin: 15px;
}

.nav-href{
    text-decoration: none;
    color: rgba(27, 27, 27, 0.884);
}
.nav-href:hover {
    text-decoration: underline;
}


#profilepic {
    border-radius: 50px;
    margin: -1px 3px 0px -13px;
}

#profilepic:hover {
     box-shadow: 0px 0px 5px rgb(83, 81, 81)
}

#gapps {
    margin-bottom: 1px;
}
#gapps:hover {
    box-shadow: 0px 0px 5px rgb(83, 81, 81)
}

#nav-images{
    font-size: 13px;
    margin: 0px 16px 4px 0px;
}

#nav-gmail{
    font-size: 13px;
    margin: 0px 15px 4px 0px;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#glogo {
    margin-bottom: 16px;
}

.searchbar {
    display: flex;
    align-items: center;
    border-radius: 50px;
    border-color: rgba(128, 128, 128, 0.199);
    border-width: .5px;
    background-color: white;
    box-shadow: 0px 0px 2px rgba(128, 128, 128, 0.719);
    margin-bottom: 8px

}


#search {
    width: 515px;
    height: 42px;
    border-radius: 50px;
    border-color: gray;
    border-width: 0px;
    
}

#magnify {
    height: 20px;
    border-radius: 50px;
    padding-left: 12px;
}

#mic {
    height: 27px;
    border-radius: 50px;
    padding-right: 15px;
}
.searchbar:hover {
    box-shadow: 0px 0px 7px rgba(70, 69, 69, 0.301);
}
button {
    border: transparent;
    border-radius: 3px;
    padding: 12px 16px;
    background-color: rgba(249,248,250,255);
    color: rgb(49, 49, 49);
    margin: 10px 5px;
    font-size: 14px;
}

button:hover {
    box-shadow: 0 0 3px rgba(33, 33, 33, 0.363);
}
#language {
    color: rgba(3, 3, 145, 0.959);
    text-decoration: none;
}


#language:hover {
    text-decoration: underline;
}

#empty-space {
    height: 170px;
    grid-area: empty;
    flex-shrink: 6;
}
#nation {
    background-color: rgba(242,242,242,255);
    color: rgba(137,136,136,255);
    padding: 12px 0px 5px 30px;
    font-size: 15px
}

hr {
    border-color: rgba(255, 250, 250, 0.329);
    
}
footer {
    background-color: rgba(242,242,242,255);
    color: rgba(137,136,136,255);
}

#foot{
    display: flex;
    justify-content: center;
    flex-wrap:nowrap
}

#foot-space {
    width: 1px;
    ;
}


.foot-button {
    display:inline-block;
    margin: 12px;
    font-size: 14px
}

.foot-href {
    color: rgba(137,136,136,255);
    text-decoration: none;
}

.foot-href:hover {
    text-decoration: underline;
}
ul {
    display: inline;
}
#glogo {
    width: 272px;
    height: 92px;
}




